<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authenticated Page</title>
    <link href="../static/style.css" rel="stylesheet">
</head>
<body>
<span class="message_wrapper">
    <img src="../static/images/hello.png">
    <h1>Welcome, <span th:text="${name}">User</span>!</h1>
    <p>You are successfully authenticated</p>

    <!-- Форма для выхода -->
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="button">Logout</button>
        <!-- CSRF токен (обязателен для POST запросов) -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form>
</span>
</body>
</html>