<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="message_wrapper">
        <h1>User Registration</h1>
        <form th:action="@{/api/auth/register}" method="post" th:object="${user}">
            <div class="inputs_wrapper">
                <div class="labeled_input">
                    <label for="cn" class="form_label">Username:</label>
                    <input type="text" id="cn" th:field="*{username}" class="form_control" required/>
                </div>
                <div class="labeled_input">
                    <label for="password" class="form_label">Password:</label>
                    <input type="password" id="password" th:field="*{password}" class="form_control" required/>
                </div>
            </div>
            <div class="buttons_wrapper">
                <button type="submit">Register</button>
            </div>
        </form>
    </div>
</body>
</html>
