<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Welcome, {{ user['preferred_username'] }}!</h1>
  <form action="{{ url_for('logout') }}" method="post">
      <button type="submit">Logout</button>
  </form>
  <a href="{{ url_for('protected') }}">Go to Protected Page -></a><br>
  <a href="{{ url_for('admin') }}">Go to Admin Page -></a><br>
  <a href="{{ url_for('user_page') }}">Go to User Page -></a><br>
  <a href="{{ url_for('manager_page') }}">Go to Manager Page -></a><br>
  <a href="{{ url_for('viewer_page') }}">Go to Viewer Page -></a><br>
</body>
